<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>BlockStudyLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CollectionViewStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>PSPDFStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ReactiveCocoaStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SDImageStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StuZipLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ThirdLibStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>URLStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ZipLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A143F7261D4CA22D00F0018D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A143F73F1D4CA22D00F0018D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A143F74A1D4CA22D00F0018D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A143F7601D4CA3B400F0018D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A157A27B1D85340F00C22CE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17120F71D51A50E00DE6F83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17387001D7BBA9300A37840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A173870E1D7C028800A37840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A196471F1DB5C45E00D89BA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1992A4E1DB9C91900BEE89B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B1BE451DB4BAAB00BD4A21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B1BE521DB4BBCD00BD4A21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
